.add-task {
    min-height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    .task-page-heading {
        color: #fff;
        margin-right: 200px;
        margin-bottom: 10px;
        @media screen and (min-width: 480px) {
            margin-right: 230px;
        }
    }
    .task-list-heading{
        margin-right: 210px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #fff;
    }
    .task-list{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        flex-direction: column;
    }
}
.task-input{
    background-color:#7F00FF; 
    border: none;
    // border-bottom: 0.5px solid #fff;
    height: 30px;
    width: 240px;
    border-radius: 8px;
    color: #fff;
    padding-left: 20px;
    @media screen and (min-width:480px) {
        width: 280px;
    }
}
.add-task-input{
    background-color: transparent;
    height: 32px;
    width: 50px;
    border-radius: 8px;
    color: #2ac22a;
    border: none;
}
.task-container {
    display: flex;
    align-items: center;
    background-color:#7F00FF; 
    border-radius: 10px;
    padding: 3px 7px;
    margin-bottom: 5px;
    box-shadow: 0, 10px, 10px #000;
    .task{
        width: 170px;
        margin-right: 10px;
        background-color: transparent;
        border: 0;
        color: #fff;
    }
    .edit{
        color: rgb(255, 183, 0);
        background-color: transparent;
        border: none;
        width: 44px;
        height: 25px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .delete{
        color: #ff0000;
        background-color: transparent;
        border: none;
        width: 44px;
        height: 25px;
        border-radius: 5px;
        margin-right: 5px;
    }
}