* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

ul{
    list-style: none;
}
input{
    outline: none;
}
body {
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
}
